{{ define "Footer" }}
  <div class="container-fluid" style="padding-top: 10px;">
    <div class="row">
      <div class="col-sm-3 col-md-6 bg-dark" style="text-align: center; padding: 10px; font-size: 17px;">        
          Copyright ©2018 - 2020 <a href="../html-link.htm" style="color:rgb(22, 212, 133)">jai nepal machinery store Pvt. Ltd.</a>  All Rights Reserved

      </div>
      <div class="col-sm-9 col-md-6 bg-dark" style="text-align: center; padding: 10px; font-size: 17px;">
        Web Design by Shubham Designers, U.P<br/>
        SEO & Digital Marketing by Shubh Marketing      </div>
    </div>
  </div>
    </body>
</html>
{{ end }}