{{ define "Product" }}
  {{ template "Header" }}
{{ template "Navbar" }}
<div class="card text-white" style="margin-top: 10px;background: linear-gradient(to bottom, #96def7 0%, #f1b2b0 100%)">
    <div class="card-body" style="font-size: 25px;">Products</div>
  </div>

<div class="container" style="margin-top: 20px;">
  <div class="card-deck">
      
    <div class="card bg-success">
        <img class="card-img-top" src="https://5.imimg.com/data5/HT/SB/MY-151036/double-roller-ginning-machine-spares-500x500.png" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">Ginning Machine Spares</p>
      </div>
    </div>
    <div class="card bg-primary">
        <img class="card-img-top" src="https://3.imimg.com/data3/CV/TO/GLADMIN-/v91e51by243766imagespare_parts_for_bottling_machines-250x250.jpg" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">RSB Timing Belt Wheels</p>
      </div>
    </div>
    <div class="card bg-success">
        <img class="card-img-top" src="https://3.imimg.com/data3/BD/TV/MY-2/ginning-machine-spare-parts-500x500.jpg" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">ginning machine spare parts</p>
      </div>
    </div>
    <div class="card bg-primary">
        <img class="card-img-top" src="https://5.imimg.com/data5/VV/QY/CR/SELLER-21425691/monarch-nozzles-500x500.jpg" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">Monarch Nozzles</p>
      </div>
    </div>
  </div>
</div>

 
<div class="container" style="margin-top: 20px;">
  <div class="card-deck">
      
    <div class="card bg-success">
        <img class="card-img-top" src="https://5.imimg.com/data5/HT/SB/MY-151036/double-roller-ginning-machine-spares-500x500.png" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">Ginning Machine Spares</p>
      </div>
    </div>
    <div class="card bg-primary">
        <img class="card-img-top" src="https://3.imimg.com/data3/CV/TO/GLADMIN-/v91e51by243766imagespare_parts_for_bottling_machines-250x250.jpg" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">RSB Timing Belt Wheels</p>
      </div>
    </div>
    <div class="card bg-success">
        <img class="card-img-top" src="https://3.imimg.com/data3/BD/TV/MY-2/ginning-machine-spare-parts-500x500.jpg" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">ginning machine spare parts</p>
      </div>
    </div>
    <div class="card bg-primary">
        <img class="card-img-top" src="https://5.imimg.com/data5/VV/QY/CR/SELLER-21425691/monarch-nozzles-500x500.jpg" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">Monarch Nozzles</p>
      </div>
    </div>
  </div>
</div>  
<div class="container" style="margin-top: 20px;">
  <div class="card-deck">
      
    <div class="card bg-success">
        <img class="card-img-top" src="https://5.imimg.com/data5/HT/SB/MY-151036/double-roller-ginning-machine-spares-500x500.png" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">Ginning Machine Spares</p>
      </div>
    </div>
    <div class="card bg-primary">
        <img class="card-img-top" src="https://3.imimg.com/data3/CV/TO/GLADMIN-/v91e51by243766imagespare_parts_for_bottling_machines-250x250.jpg" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">RSB Timing Belt Wheels</p>
      </div>
    </div>
    <div class="card bg-success">
        <img class="card-img-top" src="https://3.imimg.com/data3/BD/TV/MY-2/ginning-machine-spare-parts-500x500.jpg" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">ginning machine spare parts</p>
      </div>
    </div>
    <div class="card bg-primary">
        <img class="card-img-top" src="https://5.imimg.com/data5/VV/QY/CR/SELLER-21425691/monarch-nozzles-500x500.jpg" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">Monarch Nozzles</p>
      </div>
    </div>
  </div>
</div>  
<div class="container" style="margin-top: 20px;">
  <div class="card-deck">
      
    <div class="card bg-success">
        <img class="card-img-top" src="https://5.imimg.com/data5/HT/SB/MY-151036/double-roller-ginning-machine-spares-500x500.png" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">Ginning Machine Spares</p>
      </div>
    </div>
    <div class="card bg-primary">
        <img class="card-img-top" src="https://3.imimg.com/data3/CV/TO/GLADMIN-/v91e51by243766imagespare_parts_for_bottling_machines-250x250.jpg" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">RSB Timing Belt Wheels</p>
      </div>
    </div>
    <div class="card bg-success">
        <img class="card-img-top" src="https://3.imimg.com/data3/BD/TV/MY-2/ginning-machine-spare-parts-500x500.jpg" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">ginning machine spare parts</p>
      </div>
    </div>
    <div class="card bg-primary">
        <img class="card-img-top" src="https://5.imimg.com/data5/VV/QY/CR/SELLER-21425691/monarch-nozzles-500x500.jpg" alt="Card image">
      <div class="card-body text-center">
        <p class="card-text">Monarch Nozzles</p>
      </div>
    </div>
  </div>
</div>



  {{ template "Footer" }}
{{ end }}